{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static\event_img.jpg" class="d-block w-100 >
      </div>
      <div class=">
        <img src="/static/image.png" class="d-block w-100 >
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <body>
    <style>
      div.a{
        text-align: center;

        color: skyblue;
      
      }

     

      

    </style>


  
    <div class="a">
      
      
      <h1><b>Event Planning</b></h1>
    </div>
    </body>
    <p><center><b>Event management is the process of creating and maintaining an event. This process spans from the very beginning of planning all the way to post-event strategizing. At the start, an event manager makes planning decisions, such as the time, location, and theme of their event.</b></center></p>
    <img src="/static/OIP_img.jpeg" height="350" width="350"  >

    <img src="/static/birthday_img.jpg" height="350" width="350">

    <img src="/static/collage_img.png" height="350" width="300">

    <img src="/static/technical_event.jpg" height="350" width="350">
    
    

  
    
    
    <div class="container text-center">
      <div class="row row-cols-1">
    
        <div class="col"><h2> → How It Works  </h2>
          <div class="col"><h5>→ LEARN: WE WANT TO GET TO KNOW YOU</h5>
          <p><center>Event management works by planning, organizing, coordinating, and managing various events, whether formal (business, promotional, award shows, trade shows, conferences, or conventions & Technical events) or informal events (ceremonies, festivals, parties, or concerts & also collage events,Edvisor events.)</center></p></div>
        <div class="col"><h5> BUILD : LET US DO THE HEAVY LIFTING.</h5>
          <p><center>concept, coordination, control, culmination, and closeout</center></p>
       </div>
        <div class="col"><h5> DELIVER : SIT , BACK , RELAX.</h2>
          <p><center>Event management encompasses a wide range of services and tasks aimed at planning, organizing, and executing events successfully. The specific deliverables of event management can vary depending on the type, scale, and objectives of the event.</center></p>
       </div>

    </div>


    </div>
    
      <style>
        h3 {
        position: absolute;
        left: 450px;

        top: 1290px;

        }
       
        </style>
      <h3>About Our Event Management System Video</h3>
    

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><div id="footer">
        <footer class="bg-light text-center text-lg-start">
         
           
            <a class="text-dark" href=></a>
            <p>  </p>
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      </div>
          </footer></div>
          <!-- Copyright -->

</div>
{% endblock body %}

